.ViewNote {
    position: fixed;
    top: 50%;
    left: 65%;
    transform: translate(-57%, -50%);
    border-radius: 10px;
    background-color: rgb(46, 46, 46);
    border: 1px solid rgb(162, 162, 162);
    width: 600px;
    min-height: 400px;
    overflow-y: scroll;
    z-index: 1000;
    color: white;
}



.view-note-head {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
    height: 50px;
    position: relative;
}

.view-note-ppt {
    margin: 7px;
}

.pop-up-close-btn {
    background: rgba(0, 0, 0, 0);
    color: white;
    position: absolute;
    right: 15px; 
    top: 50%; 
    transform: translateY(-50%);
    border: 0;
    outline: 0;
}

.view-note-body {
    padding: 15px 25px 15px 25px;
  
    font-weight: 600;
}
