.ViewNote {
    position: fixed;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color:rgb(46, 46, 46);
    border: 1px solid rgb(162, 162, 162);
    width: 500px;
    height: 400px;
    z-index: 1000;
    color: white;
}

.view-note-head {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1); 
    padding: 5px 10px;
    
}

.view-note-ppt {
    margin-top: 7px;
}

.pop-up-close-btn {
    background-color:rgb(46, 46, 46);
    color: white;
   margin: auto 85%;
    /* position: relative;
   
    left: 93%; */
    border: 0;
    outline: 0;
}

.view-note-body {

    padding: 15px;
    font-weight: 600;
}

.view-note-show {
    /* z-index: 2; */
}